node_modules/
src/**/*.build.js
src/options.build.css

.vscode/
docker/
.dockerignore

# macOS
.DS_Store
**/.DS_Store

# Xcode user data
*.xcuserstate
xcuserdata/

# Distribution builds and zips
distros/
*.zip
